/* Preloader */
.preloader {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #fff; /* Background color of the preloader */
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Content */
.content {
    display: none; /* Hide content initially */
}
